<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/addProduct.css">
    <!--Toastify-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Agregar producto</title>
</head>

<body>
    <h1>Agregar producto</h1>

    <form id="formAddProduct">
        <label for="name">Nombre</label>
        <input name="name" type="text" id="name" placeholder="Nombre del producto" required autofocus>
    
        <label for="type">Categoría</label>
        <select id="category" name="type" required>
            <option value="null" hidden selected>Selecciona una opción</option>
            <option value="fruta">Fruta</option>
            <option value="verdura">Verdura</option>
            <option value="aseo">Aseo</option>
            <option value="licor">Licor</option>
            <option value="heladería">Heladería</option>
        </select>
    
        <label for="quantity">Cantidad</label>
        <input type="number" name="quantity" id="quantity" placeholder="Cantidad de unidades" required>
    
        <label for="price">Precio</label>
        <input type="text" name="price" id="price" placeholder="Precio" required>
    
        <button type="submit">Agregar</button>
    </form>
</body>
<script src="./addProductScript.js"></script>
<!--Toastify-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</html>