<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <!--SweetAlert-->
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.13.2/dist/sweetalert2.all.min.js "></script>
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.13.2/dist/sweetalert2.min.css " rel="stylesheet">
    <title>Inventario</title>
</head>

<body>
    <h1>Productos</h1>

    <hr>

    <div onclick="" id="products">
        <table id="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Categoria</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
<script src="./indexScript.js"></script>

</html>